
@font-face {
    font-family: "slkscr";
    src: url("/assets/slkscr.ttf") format("truetype");
  }
body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000; 
    font-family: "slkscr";
    overflow: hidden;
}

html {
    font-family: "slkscr";
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#UI {
    position: absolute;
 width: 100%;
 /* height: 100%;    */
 overflow: hidden;


}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: url("./assets/pointer.png"), pointer;
    image-rendering: pixelated;
  }

  #bottomButtonsSection { 
    transform: scale(3);
    transform-origin: bottom right;
    bottom: 0px;
    position: absolute;
    right: 0px;
    .button {
        margin-left: 9px;
      }
  }
  #characterAvatarSection {
    position: absolute;
    top: 20px;
    left: 22px;
  }

  #avatarSection {
    transform-origin: left top;
    transform: scale(3);
    image-rendering: pixelated;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: -24px;
  }

  #avatarImage {
    position: absolute;
    left: 2px;
    top: 5px;
  }
  #levelSection {
    position: absolute;
    left: 55px;
    top: 24px;
    #levelValue {
        position: absolute;
       top: 5px;
    left: 10px;
    font-size: 6px;
    }
  }
  
  #coinSection {
    position: absolute;
    left: 57px;
    top: 36px;
    #coinIcon {
    }
    #coinValue {
        position: absolute;
        font-size: 6px;
        top: 6px;
        left: 12px;
    }
  }
  

  #addressSection {
    position: absolute;
    top: 48px;
    left: 23px;
  }

  #walletAddress {
    font-size: 6px;
  }



  
.dropbtn {
    background-color: red;
    background: none;
    border: none;
    color: white;
  
    font-size: 16px;
    border: none;
    img {
      image-rendering: pixelated;
    }
  }
  
  .dropdown {
    position: absolute;
    transform: scale(3);
    transform-origin: left top;
    top: 220px;
    left: 130px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: url("./assets/pointer.png"), pointer;
  }
  
  .statistic {
    display: flex;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
    cursor: url("./assets/pointer.png"), pointer;
  }
  
  .dropdown-content {
    img {
      image-rendering: pixelated;
    }
  }
  
  .plus {
    display: none;
  }
  #alertIcon {
    visibility: hidden;
  }
  