body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  overflow-y: hidden;
}

html {
  overflow-y: hidden;
  /* pointer-events: none; */
  user-select: none;

  cursor: url("./assets/pointer.png"), pointer;
}
img {
  -webkit-user-drag: none;
}
body {
  overflow-y: hidden;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: url("./assets/pointer.png"), pointer;
  image-rendering: pixelated;
  /* cursor: default; */
  /* pointer-events: none; */
}

#bottomButtonsSection {
  .button {
    margin-left: -9px;
  }
}

#avatarSection {
  image-rendering: pixelated;
  background: none;
  border: none;
  padding: 0;
}

/*make a class with absolute style */

/* #levelFrame,
#levelValue,
#coinIcon,
#coinValue,
#coinSection,
#levelSection,
#characterAvatarSection,
#avatarFrame,
#avatarImage {
} */
#avatarImage {
  position: absolute;
  left: 9px;
  top: 9px;
}
#levelSection {
  position: absolute;
  left: 30px;
  transform: scale(0.5);
  top: 10px;
  #levelValue {
    position: absolute;
    transform: translateY(50%);
    left: 0px;
  }
}

#coinSection {
  position: absolute;
  left: 30px;
  transform: scale(0.5);
  top: 0px;
  #coinIcon {
  }
  #coinValue {
    position: absolute;
  }
}

.dropbtn {
  background-color: red;

  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: url("./assets/pointer.png"), pointer;
}

.statistic {
  display: flex;
  img {
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  cursor: url("./assets/pointer.png"), pointer;
}

.dropdown-content {
  img {
    image-rendering: pixelated;
  }
}
