.work-popup {
    position: absolute;
    transform-origin: center;
    image-rendering: pixelated;
    /* top: 300px */
}
.work-popup .work-popup-wrapper{
    transform-origin: center;
    image-rendering: pixelated;
    pointer-events: all;
    /* top: 300px */
}

.coinBuyMainContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -14px;
    pointer-events: all;
    color: black;
    font-size: 6px;
    left: 10px;
}
.coinBuyMainContainer span{
    margin-bottom: 10px;
}

.coins-count-container {
    display: flex;
  align-items: center;
}
.coins-count-container .coin-icon{
    transform: translate(-50%, -50%);
    margin-left: 4px;
}

.nameSubmitButton {
    position: absolute;
    left: 22px;
    top: 136px;

}
.nameSubmitButton .button-wrapper{
    height: 10px;
}
.nameSubmitButton .buttonText{
    top: -19px;
}
.workPopupCloseButton {
    position: absolute;
    left: 144px;
    top: -49px;
    pointer-events: all;
}
.workPopupCloseButton .button-image{
    pointer-events: all;
}

.coffee-icon {
    position: absolute;
    transform: scale(2);
    left: 66px;
    top: 87px;
}

.work-finish-label {
    position: absolute;
    width: 137px;
    height: 50px;
    top: -2px;
    left: -2px;
    display: flex;
    flex-direction: column;
}

.work-finish-label .coins-count-container{
    position: absolute;
    transform: translate(-50%, -50%) scale(2) ;
    top: 132px;
    left: 50%;
}

.coin-icon{
    transform: translate(-50%, -50%) scale(0.8) !important
}

/* .work-finish-label .coin-icon{
    position: absolute;
    transform: scale(2) translate(-50%, -50%);
    top: 132px;
    left: 50%;
} */